<h1>Academic Policy Wizard</h1>
<p>
	Welcome to the new version of the Academic Integrity Policy Tool, which is fully compatible with the Learning Tools Interoperability (LTI) specification, though designed to be installed with <%= link_to "Canvas By Instructure", "http://www.instructure.com/" %>.
</p>

<p>
	To install as an app in Canvas:
	<ol>
		<li>
			<strong>If you are running this application on a basic http server</strong>, you will need the <%= link_to "XML configuration file for the http protocol", lti_config_url %>.
		</li>
		<li>
			<strong>If you are running this application on an SSL server</strong>, you will need the <%= link_to "XML configuration file for the https protocol", lti_config_ssl_url %>.
		</li>
	</ol>			
</p> 
