<p>
	This tool has not yet been configured.
</p>

<p>
	Site Administrators: The Office of Undergraduate Education requires that your course publish a policy on student collaboration. <%= link_to "Click here", policies_url  %> to begin.
</p>

